github "networkextension/liblwip" "0.3"
github "networkextension/SystemKit" "56d5ff28f862f39f6e0a8aefe3964b75ade0dd31"
github "ashleymills/Reachability.swift" ~> 3.0

github "dongyifan/siren.git" "master"
git "file:///tmp/GRDB_project_name_temp" "patched-for-carthage"
