github "robbiehanson/CocoaAsyncSocket" "7.5.1"
github "networkextension/AxLogger" "0.2.4"
github "networkextension/libkcp" "273bbb749a536feccf7d1e3bf949c2260f279222"
github "networkextension/snappy-ios" "ce30dc143e63e5d8e16ea4a7b5da4c1c50c5f5b5"
github "zhuhaow/Sodium-framework" "v1.0.10.1"
github "networkextension/SwiftyJSON" "3.1.4"
github "soffes/CommonCrypto" "v1.1.0"
github "yarshure/Crypto"  "v0.5.2"
github "iosdevzone/IDZSwiftCommonCrypto"
github "Hearst-DD/ObjectMapper"
github "networkextension/liblwip" "0.2.5"
github "networkextension/DarwinCore" "9828fb3d94714d55262c9aff672e93a104105e67"
git "https://bitbucket.org/yarshure/mmdb-swift.git" "0.2.3"
github "networkextension/SystemKit" "swift3.0"
github "groue/GRDB.swift" "6cede4975c50d1edbc2393e8e935558236e98f2c" #Swift3.1beta
github "ashleymills/Reachability.swift" ~> 3.0
