<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IPv4</key>
	<dict>
		<key>Pool</key>
		<dict>
			<key>EndAddress</key>
			<string>240.7.1.10</string>
			<key>StartAddress</key>
			<string>240.7.1.9</string>
		</dict>
	</dict>
	<key>DNS</key>
	<dict>
		<key>Servers</key>
		<array>
			<string>240.7.1.9</string>
		</array>
	</dict>
</dict>
</plist>
